name: Laravel meta package CI

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master]

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [8, "8.1", "8.2"]
        laravel: [8, 9, 10, 11]
        exclude:
          - php: 8
            laravel: 10
          - php: 8
            laravel: 11
          - php: 8.1
            laravel: 11
         
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          tools: composer:v2
          coverage: none
      - name: install dependencies
        run: |
          composer require "laravel/framework=^${{ matrix.laravel }}" --no-update
          if [ "${{ matrix.laravel }}" = "11" ]; then
            composer require "orchestra/testbench=9.x-dev" --no-update
          fi
          composer update --prefer-dist --no-interaction --no-progress
      - name: Execute tests
        run: vendor/bin/phpunit --verbose
